aside,
.fixed {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fixed {
  position: fixed;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.logoutSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #1f1d2b;
  border-top-right-radius: 12px;
}

.activeHolder + .logoutSection {
  border-top-right-radius: 12px;
}

.morePadding.linkHolder {
  height: calc(83px + 24px);
}

.linkHolder {
  width: 104px;
  height: 83px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1f1d2b;
}

.linkHolder a {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.activeHolder a {
  width: 100%;
  background-color: #252836;
  margin-left: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.activeHolder a .icon {
  margin-left: -12px;
}

.holderPrev {
  border-bottom-right-radius: 12px;
}

.holderNext {
  border-top-right-radius: 12px;
}

.disabled svg {
  opacity: 0.5;
}
