.App {
  background: #252836;
  display: grid;
  grid-template-columns: 104px 1fr;
  grid-column-gap: 24px;
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background: #000;
  /* background: none; */
}
